/* General styles for all menus */
.cbp-spmenu {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
}

.cbp-spmenu ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.cbp-spmenu ul li {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	cursor: pointer;
}

.cbp-spmenu ul li:hover,
.cbp-spmenu ul li.active {
	background: #fff;
	color: rgba(0, 0, 0, 0.6);
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

/*media query for 4k displays*/
@media (min-width: 2240px) {
	.cbp-spmenu-vertical {width: 440px;}
    .cbp-spmenu ul li {font-size: 2.2em;}
    .cbp-spmenu-left {left: -440px;}
    .cbp-spmenu-right {right: -440px;}
    .cbp-spmenu-push-toright {left: 440px;}
    .cbp-spmenu-push-toleft {left: -440px;}
}

.cbp-spmenu-vertical ul li {
	border-bottom: #fff solid 1px;
	padding: 1em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}