html, 
body,
#myCarousel,
.item,
.carousel-inner,
iframe,
.transparent-box {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
    font-family: 'Oswald';
    color: #fff;
	position: relative;
}

a {
	color: #868686;
	text-decoration: none;
}

.transparent-box {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
	display: none;
}

.carousel.fade {opacity: 1;}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .2s;
  -o-transition: opacity ease-in-out .2s;
  -webkit-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {top:auto;position:relative;}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .2s;
  -o-transition: opacity ease-in-out .2s;
  -webkit-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
  z-index:2;
}


/*#myCarousel .item iframe {z-index: -1;position:relative;}*/
/*
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active { opacity: 1 }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
*/
.toggle-menu {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 999999 !important;
	background: none;
	border: none;
    width: 80px;
    height: 100px;
    align:left;
}

.toggle-menu:focus {outline: none;}
.toggle-menu i {
	font-size: 30px;
	position:relative;
	left:-30px;
	bottom:-40px;
    color:#d8d8d8;
	z-index: 0 !important;
	opacity: 1;
}
.fa-rotate-45 {
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Chrome, Safari, Opera */
    transform:rotate(45deg); /* Standard syntax */
}

.hidden {display:none!important;opacity:0!important;z-index:-1!important;}

@media (min-width: 1920px) {
	.toggle-menu i {font-size:40px;}
}

@media (min-width: 2240px) {
	.toggle-menu i {font-size:80px;left:-20px;bottom:-30px;}
}
